body {
  background-color: #FEE5D4;
}

.nav-link {
  color: #2F3E46;
}

a, li, h5, p {
  font-family: "Proza Libre"
}

h1, h2 {
  font-family: "Cormorant Garamond";
}

h4 {
  font-weight: normal;
  margin: 0;
  padding-bottom: 0;
}

.current {
  font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
  color: #707070;
}

.acting-carousel > .carousel-item > img,  .about-me-carousel > .carousel-item > img {
  object-fit: cover;
  width: 100%;
  height: 70vh;
}

.directing-carousel > .carousel-item > img{
  object-fit: cover;
  width: 100%;
  height: 45vh;
}
